<%- include('header') -%>

<div class="row">
  <div class="large-6 large-offset-3">
    <h1><%= title %></h1>
    <hr />
    <img src="images/card-confirm.png" style="width:600px" />
    <hr />
    <h3>Your cards are off to the printer.</h3>
    <h3>Confirmation ID: 66858493</h3>
  </div>
</div>