<%- include('header') -%>
<div class="row">
  <div class="large-6 large-offset-3">
    <h1>Enter The Couple Names</h1>
    <hr />
    <form method='post' action='/couple'>
	  <input type="text" name="bride" placeholder="Bride Name">
	  <input type="text" name="groom" placeholder="Groom Name">
	  <br><br>
	  <input type="submit" value="Submit">
    </form>
  </div>
</div>