<html>
  <head>
    <title>Code: <%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/foundation.css">
  </head>
  <body>
    <a href="/"><img src="/images/cards.png" style="height:50px;float:left" /></a>
