<%- include('header') -%>

<div class="row">
  <div class="large-6 large-offset-3">
    <h1><%= title %></h1>
    <hr />
    <img src="images/cards-front-back.png" style="width:600px" />
    <hr />
    <h3>Craft the perfect bridesmaid gift: <a href="/couple" class="button round">Begin</a></h3>
    
</div>
</div>